<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="databaseInfo" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=eBarSystems;Integrated Security=True"/>
  </connectionStrings>

  <appSettings>
    <add key="webServerUrl" value="http://emmachallis.com/eBar/displayTest.html"/>
    <add key="getDataInterval" value="10000"/>
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>